*{
    padding: 0;
    margin: 0;
    
}

/*styling the nav-bar */

#nav-bar{
    background-color:rgb(182, 5, 5) ;
    padding: 30px;
    position: fixed;
    width: 100%;
  
}
.link{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 300px;
}

/*styling the mid-part */
#mid-part{
    background-color: rgb(44, 44, 44);
    padding: 50px;
}
.myimage{
    border-radius: 350px;
    border: 1px solid white;
    margin-left: 500px;
    margin-top: 150px;
}

.p1{
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 50px;
}
span{
    color: rgb(253, 184, 184);
}
.p2{
    text-align: center;
    color: rgb(248, 76, 76);
    font-size: 30px; 
}

/*styling work-section */
#work-section{
   padding: 100px;
    background-color: rgb(99, 99, 252);
    
}
.h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/*styling the image gallery*/


div.gallery {
    margin: 25px;
    border: 1px solid #ccc;
    display: grid;
    width: 580px;
    margin-top: 50px;
    margin-left: 300px;
    
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(64, 63, 73);
    color: white;
  }


  /*styling the footer */
  #footer{
    background-color: rgb(61, 60, 60);
    padding: 50px;
  }
.p3{
    font-size: 70px;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 40px;
}


.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    margin-left: 120px;
  }
  
  .contact-details {
    font-size: 2.1rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    text-decoration: none;
    color: white;
    margin-left:40px ;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }

  .div{
      background-color: rgb(182, 5, 5);
      padding: 1px;
      margin-top: 40px;
  }

  .p4{
      font-size: 25px;
      color: white;
      text-align: center;
      margin-top: 40px;
  }